<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <array>
            <string>Keylor</string>
            <string>Iraizoz.jpg</string>
            <string>Portero</string>
        </array>
        <array>
            <string>Casilla</string>
            <string>Iraizoz.jpg</string>
            <string>Portero</string>
        </array>
        <array>
            <string>Carvajal</string>
            <string>Aurtenetxe.jpg</string>
            <string>Defensa</string>
        </array>
        <array>
            <string>Ramos</string>
            <string>Iraizoz.jpg</string>
            <string>Defensa</string>
        </array>
        <array>
            <string>Varane</string>
            <string>Toquero.jpg</string>
            <string>Defensa</string>
        </array>
        <array>
            <string>Nacho</string>
            <string>Aurtenetxe.jpg</string>
            <string>Defensa</string>
        </array>
        <array>
            <string>Marcelo</string>
            <string>Iraizoz.jpg</string>
            <string>Defensa</string>
        </array>
        <array>
            <string>Theo</string>
            <string>Toquero.jpg</string>
            <string>Defensa</string>
        </array>
        <array>
            <string>Modric</string>
            <string>Aurtenetxe.jpg</string>
            <string>Centrocampista</string>
        </array>
        <array>
            <string>Kroos</string>
            <string>Iraizoz.jpg</string>
            <string>Centrocampista</string>
        </array>
        <array>
            <string>Casemiro</string>
            <string>Toquero.jpg</string>
            <string>Centrocampista</string>
        </array>
        <array>
            <string>Isco</string>
            <string>Aurtenetxe.jpg</string>
            <string>Centrocampista</string>
        </array>
        <array>
            <string>Lucas</string>
            <string>Iraizoz.jpg</string>
            <string>Centrocampista</string>
        </array>
        <array>
            <string>Asensio</string>
            <string>Toquero.jpg</string>
            <string>Centrocampista</string>
        </array>
        <array>
            <string>Kovacic</string>
            <string>Aurtenetxe.jpg</string>
            <string>Centrocampista</string>
        </array>
        <array>
            <string>Ronaldo</string>
            <string>Iraizoz.jpg</string>
            <string>Delantero</string>
        </array>
        <array>
            <string>Benzema</string>
            <string>Toquero.jpg</string>
            <string>Delantero</string>
        </array>
        <array>
            <string>Bale</string>
            <string>Aurtenetxe.jpg</string>
            <string>Delantero</string>
        </array>
        <array>
            <string>Mayoral</string>
            <string>Iraizoz.jpg</string>
            <string>Delantero</string>
        </array>
        <array>
            <string>Zidane</string>
            <string>Toquero.jpg</string>
            <string>Entrenador</string>
        </array>
    </array>
</plist>

